



<main class="container container-lg text-left glass" style="height: 2000px">
    <section class="terms-container">
        <h1>Terms of Service</h1>
        <p>Last updated: 1/27/2024</p>

        <h2>Welcome to Harmony Hub!</h2>
        <p>These terms and conditions outline the rules and regulations for the use of [Your Company's Name]'s Website, located at https://chaseja-dc.github.io/.</p>

        <h2>Acceptance of Terms</h2>
        <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use Harmony Hub if you do not agree to take all of the terms and conditions stated on this page.</p>

        <h2>Modification of Terms</h2>
        <p>We reserve the right to modify these terms at any time. By continuing to use the website after we post any changes, you agree to the revised terms. If you do not agree to the revised terms, please stop using the Harmony Hub website.</p>

        <h2>Intellectual Property</h2>
        <p>The website and its original content, features, and functionality are and will remain the exclusive property of Harmony Co. and its licensors.</p>

        <h2>Your Account</h2>
        <p>If you have an account with us, you must keep your account information accurate and safeguard your password.</p>

        <h2>Privacy Policy</h2>
        <p>Your use of [Your Website Name] is also subject to our Privacy Policy. Please review our <a href="privacypolicy.html">Privacy Policy</a>, which also governs the site and informs users of our data collection practices.</p>

        <h2>Governing Law</h2>
        <p>These terms shall be governed by and defined following the laws of Canada. Harmony Co and yourself irrevocably consent that the courts of Canada shall have exclusive jurisdiction to resolve any dispute which may arise in connection with these terms.</p>

        <h2>Contact Us</h2>
        <p>If you have any questions about these Terms of Service, please contact us at chase.allen@dcmail.ca.</p>
    </section>
</main>
