<main class="container container-lg text-center">
    <div >
        <button class="ExploreBtn" onclick="textSlider()">
            <i class="fa-solid fa-house"></i><br>
            <h5 class="display-5">Enter</h5>
        </button>

        <div id="hidden-social"  style="display:none;">
            <span class="display-1"><h1 class="display-1">Harmony Hub</h1></span>
        </div>
    </div>
</main>
<div class="hidden-social-info">
    <p class="lead mt-3 glass">
        We are dedicated to bringing you the forefront of technological advancements and services. Our platform
        serves as a hub for exploring our diverse range of products and services, designed to cater to your every
        need. Whether you're looking for cutting-edge software solutions, insightful industry information, or top-tier
        customer support, you've come to the right place. Dive in to discover how we can empower you and your business
        in the digital age. Your journey towards innovation and excellence starts here!
    </p>
</div>