<video id="background-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
  <source src="media/tree.mp4" type="video/mp4">
</video>
<nav class="navbar navbar-expand-lg navbar-main">
  <div class="container-fluid">
    <a class="navbar-brand text-center " href="index.html">Harmony Hub <i class="fa-solid fa-tree"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" data="home"><i class="fa-solid fa-house"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data="services"><i class="fa-solid fa-map-signs"></i> Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data="about"><i class="fa-solid fa-info"></i> About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data="contact-list"><i class="fa-solid fa-sailboat"></i> Planning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data="statistics"><i class="fa-solid fa-sticky-note"></i> Statistics</a>
        </li>
        <li id="login" class="nav-item">
          <a class="nav-link" data="login"><i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>